/* Set up flexbox, load a default font */
:root {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
    /*Part 2: Edit colors and styles to customize your TODO list.
    You must also update add a background, such as a color, gradient, or image.
    Any further styling is up to you!
    */
    --primary-color: #9a9a9a;
    --primary-background: rgb(26, 27, 27);
}

#header {
    font-size: 3rem;
    color: var(--primary-color);
}

form {
    width: 100%;
    display: flex;
    padding: 0.8rem;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: var(--primary-background);
    color: var(--primary-color);
    width: 100%;
}

form input:hover {
    cursor: text;
    background-color: rgb(0, 0, 0);
}

form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    min-width: 100px;
}

/* Part 2: Add animations for completing and removing events.
Any further animations are up to you! */

button {
    border: none;
    color: var(--primary-background);
}

button:hover {
    cursor: pointer;
}

.todo-list {
    /* Removes the bullet points */
    list-style: none;
}

.todo-div {
    margin: 1rem;
    display: flex;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    color: var(--primary-color);
    background-color: var(--primary-background);
}

.todo-div li{
    padding: 7px;
    font-size: 20px;
    flex: 1;
}

.check-btn, .delete-btn {
    font-size: 17px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0 5px;
}

.fa-trash, .fa-check { 
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.remove {
    opacity: 0;
}